{% extends 'templates/main.html' %}

{% block content %}
    <div style="width: 100%; heigh: 100%; text-align: center;">
        <img src="https://cdn.discordapp.com/avatars/739489265263837194/fe6d2c02dcd3bf075c59ed881c5f86a9.png?size=128"><h2>Moodlist - Generate unique spotify playlists based on your mood</h2>

        <br>
        <h4>Entertaining <strong>{{ guilds }}</strong> servers worldwide, with <strong>{{ playlists }}</strong> playlists generated</h4>

        <br>
        <div class="align-self-center justify-content-center mt-5">
            <a class="btn btn-primary" style="border-radius: 5px;" href="/invite" target="_blank">Invite Moodlist</a>
            <a class="btn btn-primary" style="border-radius: 5px;" href="https://discord.gg/kayUTZm" target="_blank">Get Support</a>
        </div>

        <br>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/afNqe8nPUXI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock content %}