{% extends 'templates/main.html' %}

{% block content %}
    <div style="position: relative; left: 0; top: 50%; text-align: center; width: 50%; text-align: center" class="container-fluid">
        {% if same %}
            <div class="row" style="text-align: center;">
                <div class="col">
                    <h2>Your Playlists</h2>
                </div>
                <div class="col">
                    <h3>Quota - 10/100</h3>
                </div>
            </div>
        {% else %}
            <div class="row" style="text-align: center;">
                <div class="col">
                    <h2>{{ playlists[0]['author'] }}'s playlists</h2>
                </div>
            </div>
        {% endif %}
        <br>

        {% if len(playlists) > 0 %}
            {% for playlist in playlists %}
                <div class="row dark-hover" style="text-align: center; padding: 10px;">
                        <div class="col-sm-8" style="text-align: left;">
                            <p style="position: relative; color: white; top: 50%; transform: translate(0, -50%);">{{ playlist['name'].title() }} | <strong>{{ len(playlist['songs']) }}</strong> songs</p>
                        </div>
                    <div class="col-sm-2">
                        <a href="/playlists/{{ user.id }}/{{ playlist['key'] }}" target="_blank" class="btn btn-primary" style="position: relative; top: 50%; transform: translate(0, -50%);">See more</a>
                    </div>
                    {% if playlist['public'] %}
                        <div class="col-sm-2">
                            <a href="/p/{{ playlist['key'] }}" target="_blank" class="btn btn-info" style="position: relative; top: 50%; transform: translate(0, -50%);">Share Playlist</a>
                        </div>
                    {% else %}
                        <div class="col-sm-2">
                            <form action="/playlists/{{ user.id }}/{{ playlist['key'] }}/public?redirect=/playlists" style="padding: 0; margin: 0;" method="POST">
                                <button type="submit" class="btn btn-info">Make Public</a>
                            </form>
                        </div>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        {% else %}
            <div class="row dark-hover">
                <div class="col">
                    <p class="white"style="position: relative; top: 50%; transform: translate(0, -50%);"">You have no saved playlists! Run <strong>[prefix]playlist save PLAYLIST_NAME</strong> after generating a playlist.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}